* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "microsoft yahei", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: 16px;
  color: #fff;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  font-family: "microsoft yahei", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: 16px;
  color: #fff;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
table {
  border-collapse: collapse;
}
em {
  font-style: normal;
}
a {
  cursor: pointer;
}
.btn {
  width: 100px;
  height: 32px;
  background: url("../images/datamap/button.png") 0 -272px no-repeat;
  display: inline-block;
}
.btn:hover,
.btn.on {
  background-position: 0 -306px;
}
header,
.map,
.block {
  min-width: 1600px;
}
.map {
  min-height: 826px;
}
header {
  height: 61px;
  background: url("../images/datamap/headerbg.jpg") top center no-repeat;
  position: relative;
}
header h1 {
  text-align: center;
  font-size: 24px;
  line-height: 60px;
}
header span {
  position: absolute;
  right: 70px;
  top: 10px;
  display: block;
}
header span button,
header span a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  float: left;
  height: 42px;
  margin-left: 12px;
  text-align: center;
  background: url("../images/datamap/button.png") no-repeat;
}
header span button {
  width: 132px;
  background-position: 0 -184px;
}
header span button:hover,
header span button.on {
  background-position: 0 -228px;
}
header span button i {
  margin-right: 8px;
}
header span a {
  width: 180px;
  line-height: 40px;
}
header span a:hover {
  background-position: 0 -44px;
}
.map {
  position: absolute;
  top: 61px;
  left: 0;
  right: 0;
  bottom: 0;
}
.map #mapNav {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -405px;
  background: rgba(21, 46, 78, 0.72);
  z-index: 170;
}
.map #mapNav li {
  width: 90px;
  height: 38px;
  line-height: 38px;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.map #mapNav li:hover,
.map #mapNav li.on {
  background: url("../images/datamap/button2.png") repeat-x;
}
.map #mapNav li:after {
  content: ' ';
  height: 30px;
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 0;
  top: 4px;
}
.map #map {
  width: 100%;
  height: 100%;
  color: #333;
}
.map #map p {
  line-height: 2;
}
.block {
  padding-top: 10px;
  box-sizing: border-box;
  background: rgba(27, 57, 106, 0.9);
  position: absolute;
  top: 61px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 171;
  display: none;
}
.block .bgLeftTop,
.block .bgRightTop,
.block .bgLeftBottom,
.block .bgRightBottom {
  position: absolute;
  width: 776px;
  height: 400px;
  z-index: -1;
  display: block;
}
.block .bgLeftTop {
  left: 24px;
  top: 10px;
  background: url("../images/datamap/corner_left_top.png") no-repeat;
}
.block .bgRightTop {
  right: 24px;
  top: 10px;
  background: url("../images/datamap/corner_right_top.png") no-repeat;
}
.block .bgLeftBottom {
  left: 24px;
  bottom: 10px;
  background: url("../images/datamap/corner_left_bottom.png") no-repeat;
}
.block .bgRightBottom {
  right: 24px;
  bottom: 10px;
  background: url("../images/datamap/corner_right_bottom.png") no-repeat;
}
.block .blockTab h2 {
  font-size: 18px;
  background: url("../images/datamap/blockHeader.png") top center no-repeat;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.block .blockTab h2 i {
  margin-right: 8px;
}
.block .blockCtx {
  position: absolute;
  top: 70px;
  left: 57px;
  right: 57px;
  bottom: 44px;
  display: none;
}
.block .blockNavBtns {
  position: absolute;
  top: 100px;
  left: 57px;
  z-index: 171;
  width: 254px;
}
.block .blockNavBtns button {
  width: 168px;
  height: 46px;
  display: block;
  margin: 0 auto 15px;
  text-align: left;
  background: url("../images/datamap/button.png") 0 -88px no-repeat;
}
.block .blockNavBtns button:hover,
.block .blockNavBtns button.on {
  background-position: 0 -136px;
  box-shadow: 0 3px 8px #334b70;
}
.block .blockNavBtns button i {
  margin: 0 15px;
}
.block .blockNav,
.block .blockRank,
.block .blockChartTop,
.block .blockChartBottom {
  background: rgba(195, 241, 247, 0.06);
}
.block .blockNav {
  width: 254px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}
.block .blockNav div {
  height: 270px;
}
.block .blockNav .blockInfo {
  margin-left: 40px;
  padding-top: 35px;
}
.block .blockNav .blockInfo li {
  margin-bottom: 25px;
}
.block .blockNav .blockInfo li em {
  font-size: 26px;
  display: block;
}
.block .blockNav .blockInfo li span {
  font-size: 16px;
  color: #dffeff;
  display: block;
}
.block .blockRank {
  width: 358px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.block .blockRank h3 {
  color: #c3f1f7;
  font-size: 14px;
  text-align: center;
  margin: 12px 0 25px;
}
.block .blockRank .btngroups {
  text-align: center;
}
.block .blockRank .ranklist {
  color: #dffeff;
  margin-top: 20px;
  margin-left: 30px;
}
.block .blockRank .ranklist .rankTitle {
  overflow: hidden;
  width: 260px;
}
.block .blockRank .ranklist .rankTitle li {
  float: left;
  font-size: 18px;
  line-height: 34px;
  width: 50%;
  text-indent: 40px;
}
.block .blockRank .ranklist .rankTitle li:last-child {
  text-align: right;
}
.block .blockRank .ranklist div {
  overflow-y: auto;
  box-sizing: border-box;
  width: 260px;
}
.block .blockRank .ranklist div ul {
  display: none;
  width: 100%;
}
.block .blockRank .ranklist div ul li {
  cursor: default;
  color: #dffeff;
  line-height: 34px;
  font-size: 18px;
  position: relative;
}
.block .blockRank .ranklist div ul li span {
  width: 70%;
  display: inline-block;
  text-indent: 40px;
}
.block .blockRank .ranklist div ul li em {
  width: 30%;
  color: #00e4ff;
  text-align: right;
  display: inline-block;
}
.block .blockRank .ranklist div ul li i {
  position: absolute;
  top: 5px;
  left: 0;
}
.block .blockChart {
  position: absolute;
  left: 264px;
  right: 368px;
}
.block .blockChart .blockChartTop {
  margin-bottom: 10px;
  position: relative;
}
.block .blockChart .blockChartTop .chartBar {
  width: 100%;
  overflow: hidden;
  padding-top: 70px;
}
.block .blockChart .blockChartTop .chartBar li {
  width: 33%;
  height: 260px;
  float: left;
}
.block .blockChart .blockChartBottom {
  position: relative;
}
.block .blockChart .blockChartBottom #Xarea {
  width: 100%;
  height: 320px;
  box-sizing: border-box;
}
.block .blockChart .blockChartBottom #Xline {
  width: 100%;
  height: 320px;
  box-sizing: border-box;
}
.block .blockChart .asidebtns {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 171;
}
.block .blockChart .asidebtns button {
  display: inline-block;
  margin-left: 5px;
}
.dataIco {
  background: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 19px;
}
.deviceIco {
  background: no-repeat;
  background-position: 0 -43px;
  width: 26px;
  height: 24px;
}
.wifiIco {
  background: no-repeat;
  background-position: 0 -69px;
  width: 26px;
  height: 24px;
}
.sensIco {
  background: no-repeat;
  background-position: 0 -95px;
  width: 26px;
  height: 24px;
}
.dataCenterIco {
  background: no-repeat;
  background-position: 0 -121px;
  width: 26px;
  height: 24px;
}
.deviceIcoBig {
  background: no-repeat;
  background-position: 0 -21px;
  width: 32px;
  height: 20px;
}
.rankIco {
  background: no-repeat;
  background-position: 0 -147px;
  width: 26px;
  height: 25px;
}
.errIco {
  background: no-repeat;
  background-position: 0 -205px;
  width: 30px;
  height: 30px;
}
.onlineIco {
  background: no-repeat;
  background-position: 0 -174px;
  width: 40px;
  height: 29px;
}
.clickIco {
  background: no-repeat;
  background-position: 0 -237px;
  width: 30px;
  height: 30px;
}
.dataIco,
.deviceIco,
.wifiIco,
.sensIco,
.dataCenterIco,
.deviceIcoBig,
.rankIco,
.errIco,
.onlineIco,
.clickIco {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}
/* ../images/datamap/datamapsprite.png?20160811140643 */
.dataIco,
.deviceIco,
.wifiIco,
.sensIco,
.dataCenterIco,
.deviceIcoBig,
.rankIco,
.errIco,
.onlineIco,
.clickIco {
  background-image: url(../images/datamap/datamapsprite.png?20160811140643);
}
.css_stamp {
  content: "20160811140643";
}
