<tr>
  % for h in headers:
    % if h['is_profile']:
    <th column="${h['column']}" sort="${sort.get(h['column'], -1)}">${h['title']}</th>
    % endif
  % endfor
  <th>操作</th>
</tr>
% for row in rows:
<tr>
  % for h in headers:
    % if h['is_profile']:
      % if h['type']=='password':
      <td type="${h['type']}" data-value="${getattr(row, h['column'])}" data-tip="${getattr(row, h['column'])}" class="pwdtip">***</td>
      % else:
      <td type="${h['type']}" data-value="${getattr(row, h['column'])}">${getattr(row, h['column'])}</td>
      % endif
    % endif
  % endfor
  % if mask == 1:
  <td><span class="edit">编辑</span><span class="forbin">禁用</span><span class="delete">删除</span>
  % else:
  <td><span class="edit">编辑</span><span class="forbin">禁用</span>
    % if row.user != str(row.holder):
    <span class="delete">删除</span>
    % endif
  % endif
  % if mask == 1:
  <input type="hidden" value="${row.id}"/></td>
  % elif mask == 2 and row.user == str(row.holder):
  <input type="hidden" value="${row.user}" holder/></td>
  % else:
  <input type="hidden" value="${row.user}"/></td>
  % endif
</tr>
% endfor
