<tr>
  % for h in headers:
    % if h['is_profile']:
      % if h['column'] in sort and sort[h['column']] < 0:
      <th column="${h['column']}" sort="${sort.get(h['column'], -1)}" class="sortOn sortDown"><span><em>${h['title']}</em><i></i></span></th>
      % elif h['column'] in sort and sort[h['column']] > 0:
      <th column="${h['column']}" sort="${sort.get(h['column'], -1)}" class="sortOn sortUp"><span><em>${h['title']}</em><i></i></span></th>
      % else:
      <th column="${h['column']}" sort="${sort.get(h['column'], -1)}" class="sortOn"><span><em>${h['title']}</em><i></i></span></th>
      % endif
    % endif
  % endfor
  % if mask == 8:
  <th>流量</th>
  % endif
  % if ins.is_allowed('update', 'user'):
  <th>操作</th>
  % endif
</tr>
% if mask != 8:
  % for row in rows:
  % if row.mask & (1 << 30) <= 0:
  <tr>
  % else:
  <tr class="dab">
  % endif
    % for h in headers:
      % if h['is_profile']:
        % if h['type']=='password':
        <td type="${h['type']}" data-value="${getattr(row, h['column'], '')}" data-tip="${getattr(row, h['column'], '')}" class="pwdtip">***</td>
        % else:
        <td type="${h['type']}" data-value="${getattr(row, h['column'], '')}">${getattr(row, h['column'], '')}</td>
        % endif
      % endif
    % endfor
    <td>
      % if ins.is_allowed('update', 'user'):
      <span class="edit">编辑</span>
      % endif
      % if mask == 1:
      <input type="hidden" value="${row.id}"/>
      % endif
      % if mask in [2, 4]:
      <input type="hidden" value="${row.user}" holder/>
      % endif
      % if ins.is_allowed('update', 'user'):
        % if row.mask & (1 << 30) <= 0:
        <span class="unforbin" style="display: none;">启用</span><span class="forbin">停用</span>
        % else:
        <span class="unforbin">启用</span><span class="forbin" style="display: none;">停用</span>
        % endif
        % if not (mask in [2, 4] and row.user == str(row.holder)):
        <span class="delete">删除</span>
        % endif
      % endif
    </td>
  </tr>
  % endfor
% else:
  % for online in rows:
  % if online.mask & (1 << 30) <= 0:
  <tr>
  % else:
  <tr class="dab">
  % endif
    % for h in headers:
      % if h['is_profile']:
        % if h['type']=='password':
        <td type="${h['type']}" data-value="${getattr(online, h['column'], '')}" data-tip="${getattr(online, h['column'], '')}" class="pwdtip">***</td>
        % else:
        <td type="${h['type']}" data-value="${getattr(online, h['column'], '')}">${getattr(online, h['column'], '')}</td>
        % endif
      % endif
    % endfor
    <td>${_t(online.traffic)}M</td>
    % if ins.is_allowed('update', 'user'):
    <td>
      % if online.mask & (1 << 30) <= 0:
      <span class="unforbin" style="display: none;">启用</span><span class="forbin">停用</span>
      % else:
      <span class="unforbin">启用</span><span class="forbin" style="display: none;">停用</span>
      % endif
      <input type="hidden" value="${online.user}"/>
    </td>
    % endif
  </tr>
  % endfor
% endif
