<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>统计检视</title>
    <link rel="stylesheet" href="/static/css/datamap.css" />
    <script type="text/javascript" src="/static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="/static/js/lib/highcharts/highcharts-3d.js"></script>
    <script type="text/javascript" src="/static/js/lib/highcharts/themes/dark-unica.js"></script>
    <script type="text/javascript" src="/static/js/lib/taffy.js"></script>
</head>

<body>
    <header>
        <h1>统计检视</h1>
        <span>
            <button type="button"><i class="dataIco"></i>数据统计</button>
            <a href="/">南沙无线城市后台</a>
        </span>
    </header>
    <section class="block">
        <div class="blockTab">
            <h2><i class="wifiIco"></i>上网人数统计</h2>
            <div class="blockNavBtns">
                <button type="button" class="on"><i class="wifiIco"></i>上网人数统计</button>
                <button type="button"><i class="deviceIco"></i>设备统计</button>
                <button type="button"><i class="sensIco"></i>感应统计</button>
                <button type="button"><i class="dataCenterIco"></i>大数据中心</button>
            </div>
            <div class="blockCtx online" style="display: block;">
                <div class="blockNav">
                    <div></div>
                    <ul class="blockInfo">
                        <li><em>124100</em><span>连接人数</span></li>
                        <li><em>60</em><span>在线人数</span></li>
                        <li><em>1089</em><span>上网总流量</span></li>
                        <li><em>1240</em><span>历史在线峰值</span></li>
                    </ul>
                </div>
                <div class="blockChart">
                    <div class="blockChartTop">
                        <div class="asidebtns">
                            <button type="button" class="changeChart btn">切换坐标</button>
                        </div>
                        <ul class="chartBar">
                            <li id="onlinePieA"></li>
                            <li id="onlinePieB"></li>
                            <li id="onlinePieC"></li>
                        </ul>
                        <!--<ul class="chartBar">-->
                            <!--<li id="onlineLineA"></li>-->
                            <!--<li id="onlineLineB"></li>-->
                            <!--<li id="onlineLineC"></li>-->
                        <!--</ul>-->
                    </div>
                    <div class="blockChartBottom">
                        <div class="asidebtns">
                            <button type="button" class="last30 btn">最近30天</button>
                            <button type="button" class="last24 btn on">最近24小时</button>
                        </div>
                        <div class="htq" id="Xline"></div>
                    </div>
                </div>
                <div class="blockRank">
                    <h3>上网人数排行榜</h3>
                    <div class="btngroups townVillage"><button type="button" class="btn">镇街</button><button type="button" class="btn on">村</button></div>
                    <div class="ranklist">
                        <ul class="rankTitle"><li>地点</li><li>AP数</li></ul>
                        <div class="slimScroll" id="onlineSlimScroll">
                            <ul></ul>
                            <ul style="display: block;"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blockCtx device">
                <div class="blockNav">
                    <div></div>
                    <ul class="blockInfo">
                        <li><em>124100</em><span>热点总数</span></li>
                        <li><em>60</em><span>热点故障数</span></li>
                        <li><em>1089</em><span>连接人数</span></li>
                        <li><em>1240</em><span>在线人数</span></li>
                    </ul>
                </div>
                <div class="blockChart">
                    <div class="blockChartTop">
                        <div class="asidebtns">
                            <button type="button" class="changeChart btn">切换坐标</button>
                        </div>
                        <ul class="chartBar">
                            <li id="devicePieA"></li>
                            <li id="devicePieB"></li>
                            <li id="devicePieC"></li>
                        </ul>
                        <!--<ul class="chartBar">-->
                            <!--<li id="deviceLineA"></li>-->
                            <!--<li id="deviceLineB"></li>-->
                            <!--<li id="deviceLineC"></li>-->
                        <!--</ul>-->
                    </div>
                    <div class="blockChartBottom">
                        <div class="asidebtns">
                            <button type="button" class="last30 btn">最近30天</button>
                            <button type="button" class="last24 btn on">最近24小时</button>
                        </div>
                        <div class="htq" id="Xarea"></div>
                    </div>
                </div>
                <div class="blockRank">
                    <h3>排行榜</h3>
                    <div class="btngroups townVillage"><button type="button" class="btn">镇街</button><button type="button" class="btn on">村</button></div>
                    <div class="ranklist">
                        <ul class="rankTitle"><li>地点</li><li>AP数</li></ul>
                        <div class="slimScroll" id="deviceSlimScroll">
                            <ul></ul>
                            <ul style="display: block;"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <i class="bgLeftTop"></i>
        <i class="bgRightTop"></i>
        <i class="bgLeftBottom"></i>
        <i class="bgRightBottom"></i>
    </section>
    <section class="map">
        <ul id="mapNav">
            <li data-lnglat="113.515011,22.821834" class="on">黄阁镇</li>
            <li data-lnglat="113.551862,22.704594">万顷沙镇</li>
            <li data-lnglat="113.532869,22.726493">珠江街</li>
            <li data-lnglat="113.673374,22.641442">龙穴街</li>
            <li data-lnglat="113.333699,22.844638">榄核镇</li>
            <li data-lnglat="113.49894,22.741872">横沥镇</li>
            <li data-lnglat="113.440592,22.882995">东涌镇</li>
            <li data-lnglat="113.566451,22.797626">南沙街</li>
            <li data-lnglat="113.398784,22.805322">大岗镇</li>
        </ul>
        <div id="map"></div>
        <script type="text/javascript" src="/static/js/nsmapajax.js"></script>
        <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=8754f668e26aea7c10f33b220e1713ae&&plugin=AMap.Scale,AMap.ToolBar,AMap.Geocoder"></script>
        <script type="text/javascript" src="/static/js/datamap.min.js"></script>
        <script type="text/javascript" src="/static/js/nsmap.js"></script>
    </section>
</body>
</html>