## device.html
<%inherit file="base.html" />

<div class="wrapper">
    <!--导航-->
    <%include file="nav.html" />
    <!--右侧功能栏-->
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <h2>设备管理</h2>
                <div class="widget">
                    <a href="javascript:;" class="btnBlueSmall">导出</a>
                </div>
            </div>
        </div>
        <div class="tabbox ns_table">
            <img src="../static/images/projects/bui10.png" style="display: block;" />
            <img src="../static/images/projects/bui11.png" style="display: block;" />
        </div>
        <div class="tabbox ns_table">
            <img src="../static/images/projects/bui12.png" style="display: block;" />
        </div>
    </div>
</div>
