## projecth5page.html
<%inherit file="base.html" />

<%block name="title">用户列表-</%block>

<div class="wrapper nsWrapper">
    <!--导航-->
    <%include file="nav.html" />
    <!--右侧功能栏-->
    <div class="projects">
        <%include file="bread_nav.html" />
        <div class="tabbox ns_table">
            <img src="../static/images/projects/bui05.png" style="display: block;" />
            <img src="../static/images/projects/bui06.png" style="display: block;" />
            <img src="../static/images/projects/bui07.png" style="display: block;" />
        </div>
    </div>
</div>
