<%page args="ins,location='',on={'project': 'on'}">
<div class="nav">
    % if location:
    <h3 class="${on.pop('project', '')}"><a href="/projectcard.html?location=${location}"><i class="navProjectIco"></i>项目管理</a></h3>
    % else:
    <h3 class="${on.pop('project', '')}"><a href="/index.html"><i class="navProjectIco"></i>项目管理</a></h3>
    % endif
    % if location:
    <h3 class="${on.pop('policy', '')}"><a href="/projectpn.html?location=${location}"><i class="navPolicyIco"></i>网络管理</a></h3>
    % else:
    <h3 class="${on.pop('policy', '')}"><a href="/policy.html?location=${location}"><i class="navPolicyIco"></i>网络管理</a></h3>
    % endif
    % if ins.is_allowed('view', 'ac') and location == '':
    <h3 class="${on.pop('ac', '')}"><a href="/ac.html?location=${location}"><i class="navACIco"></i>AC管理</a></h3>
    % endif
    % if location:
    <h3 class="${on.pop('ap', '')}"><a href="/projectaplist.html?location=${location}"><i class="navAPIco"></i>AP管理</a></h3>
    % else:
    <h3 class="${on.pop('ap', '')}"><a href="/ap.html?location=${location}"><i class="navAPIco"></i>AP管理</a></h3>
    % endif
    ##<h3><a href="/fiber.html?location=${location}&type_id=1"><i class="navFiberIco"></i>光纤管理</a></h3>
    ##<h3><a href="/device.html?location=${location}"><i class="navWareIco"></i>设备管理</a></h3>
    <h3 class="${on.pop('admin', '')}"><a href="/admin.html?location=${location}"><i class="navManagerIco"></i>账户管理</a></h3>
    <h3 class="${on.pop('datamap', '')}"><a href="/datamap.html"><i class="navDatamapIco"></i>数据统计</a></h3>
    % if location:
    <h3 class="${on.pop('user', '')}"><a href="/projectuser.html?location=${location}"><i class="navUserIco"></i>用户列表</a></h3>
    % else:
    <h3 class="${on.pop('user', '')}"><a href="/user.html?location=${location}"><i class="navUserIco"></i>用户列表</a></h3>
    % endif
    % if location:
    <h3 class="${on.pop('pay', '')}"><a href="/projectbill.html?location=${location}"><i class="navBillIco"></i>计费模块</a></h3>
    <h3 class="${on.pop('message', '')}"><a href="/projectmsg.html?location=${location}"><i class="navNewsIco"></i>新闻公告</a></h3>
    <h3 class="${on.pop('sens', '')}"><a href="/projectsens.html?location=${location}"><i class="navSensIco"></i>感知分析</a></h3>
    <h3 class="${on.pop('h5', '')}"><a href="/projecth5list.html?location=${location}"><i class="navH5Ico"></i>H5页面管理</a></h3>
    <h3 class="${on.pop('access', '')}"><a href="/projectaccess.html?location=${location}"><i class="navBedataIco"></i>行为数据</a></h3>
    % endif
    <h3><a href="/projectads.html?location=${location}" class="preventUrl"><i class="navUserdataIco"></i>账户数据</a></h3>
    <h3><a href="javascript:;" class="preventUrl"><i class="navAccessIco"></i>访问数据</a></h3>
    <h3><a href="javascript:;" class="preventUrl"><i class="navAdsIco"></i>广告推送</a></h3>
</div>
</%page>
