<div class="tabbox ns_nav">
    <ul>
        <li><a href="/projectresource.html?project_id=${project.id}&type.id=${project.type.id}" data-target="projectresource">资源管理</a></li>
        <li><a href="/projectinfo.html?project_id=${project.id}&type.id=${project.type.id}" data-target="projectinfo">基本信息</a></li>
        <li><a href="/projectmsg.html?project_id=${project.id}&type.id=${project.type.id}" data-target="projectmsg">群发消息</a></li>
        <li><a href="/projectaplist.html?project_id=${project.id}&type.id=${project.type.id}" data-target="projectaplist">AP列表</a></li>
    </ul>
    <div>
        <button type="button" class="btnGraySmall" id="subproject"><i class="addGrayIco"></i>新增</button>
    </div>
</div>
