## projectInfo.html
<%inherit file="base.html" />

<div class="wrapper nsWrapper">
    <!--导航-->
    <%include file="nav.html" />
    <!--右侧功能栏-->
    <div class="projects">
        <%include file="bread_nav.html" />
        <div class="tabbox nopdg ns_form">
            <h4 class="formInfo">
                <em>项目基本信息</em>
                % if ins.is_allowed('update', 'project'):
                <a href="/projectinfoedit.html?location=${project.id}">编辑</a>
                % endif
            </h4>
            <div class="areabox">
                <ul class="vertical">
                     <li>
                        <label>项目名称：</label>
                        <span class="veright">${project.name}</span>
                    </li>
                    <li>
                        <label>项目类型：</label>
                        <span class="veright">${project.type.title}</span>
                    </li>
                    <li>
                        <label>项目说明：</label>
                        <span class="veright">${project.note}</span>
                    </li>
                    <li>
                        <label>营业执照：</label>
                        <span class="veright">
                            % if project.license=='' or project.license==null:
                            <img src="${project.license}" style="display: none;" />
                            % else:
                            <img src="${project.license}" />
                            % endif
                        </span>
                    </li>
                    <li>
                        <label>企业LOGO：</label>
                        <span class="veright">
                            % if project.logo=='' or project.logo==null:
                            <img src="${project.logo}" style="display: none;" />
                            % else:
                            <img src="${project.logo}" />
                            % endif
                        </span>
                    </li>
                    <li>
                        <label>相关企业或楼房地址：</label>
                        <span class="veright">${project.building}</span>
                    </li>
                    <li>
                        <label>联系人：</label>
                        <span class="veright">${project.contact}</span>
                    </li>
                    <li>
                        <label>电话：</label>
                        <span class="veright">${project.mobile}</span>
                    </li>
                    <li>
                        <label>地址：</label>
                        <span class="veright">${project.address}</span>
                    </li>
                    <li>
                        <label>项目拓扑图：</label>
                        <span class="veright">
                            % if project.topology=='' or project.topology==null:
                            <img src="${project.topology}" style="display: none;" />
                            % else:
                            <img src="${project.topology}" />
                            % endif
                        </span>
                    </li>
                    <li>
                        <label>项目地图位置描点图：</label>
                        <span class="veright">
                            % if project.tracepoint=='' or project.tracepoint==null:
                            <img src="${project.tracepoint}" style="display: none;" />
                            % else:
                            <img src="${project.tracepoint}" />
                            % endif
                        </span>
                    </li>
                    <li>
                        <label>实地照片：</label>
                        <span class="veright">
                            % if project.fieldphoto=='' or project.fieldphoto==null:
                            <img src="${project.fieldphoto}" style="display: none;" />
                            % else:
                            <img src="${project.fieldphoto}" />
                            % endif
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

##<%block name="aside">
##    <%include file="imgModal.html" />
##    <%include file="modal.html" />
##</%block>

<%block name="jscode">
    <script type="text/javascript" src="/static/js/lib/ajaxfileupload.js"></script>
</%block>
