## user.html
<%inherit file="base.html" />

<div class="wrapper">
    <input type="hidden" name="" id="pms-create-user" value="${ins.is_allowed('create', 'user')}">
    <input type="hidden" name="" id="pms-update-user" value="${ins.is_allowed('update', 'user')}">
    <input type="hidden" name="" id="pms-delete-user" value="${ins.is_allowed('delete', 'user')}">
    <!--导航-->
    <%include file="nav.html" />
    <!--右侧功能栏-->
    <div class="projects">
        <div class="tabbox">
            <div class="bread">
                <h2>总用户管理</h2>
            </div>
        </div>
        <div class="tabbox ns_table" id="totallist">
            <div class="toolnav">
                <h3>用户列表</h3>
                <div class="toolbox">
                    % if ins.is_allowed('create', 'user'):
                    <button type="button" class="btnGraySmall addbtn">新增</button>
                    % endif
                </div>
            </div>
            <div class="areabox">
                <table class="centerAlign">
                    <tr>
                        <th>账户</th>
                        <th>密码</th>
                        <th>所属</th>
                        <th>缴纳经费</th>
                        <th>到期时间</th>
                        <th>积分</th>
                        <th>在线充值</th>
                        % if ins.is_allowed('update', 'user') or ins.is_allowed('delete', 'user'):
                        <th>操作</th>
                        % endif
                    </tr>
                    % for user in users:
                    <tr>
                        <td>${user.user}</td>
                        <td data-tip="${user.password}" class="pwdtip">***</td>
                        <td>
                            <span>
                              % if user.resource:
                              ${user.resource['name']}
                              % endif
                            </span>
                        </td>
                        <td>
                        </td>
                        <td>${user.expired}</td>
                        <td>
                        </td>
                        <td>
                        </td>
                        % if ins.is_allowed('update', 'user') or ins.is_allowed('delete', 'user'):
                        <td><span class="changePwd">修改密码</span><span class="forbin">禁用</span><span class="delete">删除</span><button type="button" class="btnGrayAutoMin save">保存</button><button type="button" class="btnGrayAutoMin cancel">取消</button><input type="hidden" value="${user.user}" /></td>
                        % endif
                    </tr>
                    % endfor
                </table>
                <div class="page">
                    <input type="button" value="跳转" class="btnWhiteSmall jump" />
                    <input type="text" class="pagesize" placeholder="1" />
                    <input type="button" value="下一页" class="btnWhiteSmall next" />
                    <div>
                        <span class="nowpage">1</span> /
                        <span class="pagecount">
                        % if page_count==0:
                        1
                        % else:
                        ${page_count}
                        % endif
                        </span>
                    </div>
                    <input type="button" value="上一页" class="btnWhiteSmall prev" />
                </div>
            </div>
        </div>
    </div>
</div>

<%block name="aside">
<div class="modal fade" id="modalUser">
    <div class="modal_user modal_body">
        <h3>新增用户</h3>
        <ul>
            <!--<li><label>手机号：</label><span><input type="text" value="" id="mobile" /></span></li>-->
            <li><label>所属项目：</label>
            <span>
                <select id="projectId">
                <option value="">--请选择--</option>
                </select>
            </span>
            </li>
            <li><label>到期时间：</label><span><input type="text" value="" class="datepicker" id="exTime" /></span></li>
            <li><label>密码：</label><span><input type="password" value="" id="password" /></span></li>
            <li><label>再次输入密码：</label><span><input type="password" value="" id="expassword" /></span></li>
        </ul>
        <div><button type="button" class="btnBlue" id="add">确定</button></div>
        <i class="msg"></i>
        <span class="closed">X</span>
    </div>
</div>
</%block>

<%block name="jscode">
    <script src="/static/js/lib/jqueryui.min.js"></script>
    <script src="/static/js/lib/chart/echarts-all.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".datepicker").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
</%block>
